<?xml version="1.0"?>

<launch>

<rosparam command="load" file="$(find sharework_cembre_skills)/config/go_to_location_server.yaml" />
<rosparam command="load" file="$(find sharework_cembre_skills)/config/inbound_server.yaml" />
<rosparam command="load" file="$(find sharework_cembre_skills)/config/objects_grasp_description.yaml" />
<rosparam command="load" file="$(find sharework_cembre_skills)/config/outbound_server.yaml" />
<rosparam command="load" file="$(find sharework_cembre_skills)/config/multi_skills.yaml" />
<rosparam command="load" file="$(find sharework_cembre_skills)/config/slots_distribution.yaml" />

<include file="$(find manipulation_interface_example)/launch/save_operator_example_param.launch" />

</launch>
