<?xml version="1.0"?>

<launch>

<arg name="fake_gripper" default="true"/>

<group if="$(arg fake_gripper)">
  <node pkg="manipulation_fake_tool"  type="manipulation_fake_tool_server" name="manipulation_fake_tool_pick" args="/robotiq_gripper" output="screen"/>
</group>

<group unless="$(arg fake_gripper)">
  <node pkg="robotiq_ur_modbus"  type="test_robotiq_ros.py" name="robotiq_ur_modbus_pick" args="/robotiq_gripper" output="screen"/>
</group>

<arg name="pipeline" default="dirrt" />
<arg name="load_param" default="load" />
<arg name="debug" default="false" />
<arg name="baseline" default="false"/>

<include file="$(find sharework_cembre_skills)/launch/scene_spawner.launch"/>

<include file="$(find sharework_cembre_skills)/launch/pick.launch">
<arg name="debug" value="$(arg debug)"/>
<arg name="load_param" value="$(arg load_param)"/>
<arg name="pipeline" value="$(arg pipeline)"/>
<arg name="baseline" value="$(arg baseline)"/>
</include>


<include file="$(find sharework_cembre_skills)/launch/place.launch">
<arg name="debug" value="$(arg debug)"/>
<arg name="load_param" value="$(arg load_param)"/>
<arg name="pipeline" value="$(arg pipeline)"/>
<arg name="baseline" value="$(arg baseline)"/>
</include>


<include file="$(find sharework_cembre_skills)/launch/goto.launch">
<arg name="debug" value="$(arg debug)"/>
<arg name="load_param" value="$(arg load_param)"/>
<arg name="pipeline" value="$(arg pipeline)"/>
<arg name="baseline" value="$(arg baseline)"/>
</include>

</launch>
