<?xml version="1.0"?>
<launch>

  <node pkg="manipulation_job_base" name="ssm_job" type="ssm_job_exec.py" output="screen">
    <rosparam command="load" ns="mount_A1652_sx"         file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1652_sx.yaml"/>
    <rosparam command="load" ns="mount_A1652_dx"         file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1652_dx.yaml"/>
    <rosparam command="load" ns="unmount_A1652_sx"         file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1652_sx.yaml"/>
    <rosparam command="load" ns="unmount_A1652_dx"         file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1652_dx.yaml"/>
    <rosparam command="load" ns="pick_A1652"          file="$(find sharework_cembre_skills)/config/job_state_machines/pick_A1652.yaml"/>

    <rosparam command="load" ns="mount_A1653" file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1653.yaml"/>
    <rosparam command="load" ns="unmount_A1653" file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1653.yaml"/>
    <rosparam command="load" ns="pick_A1653"          file="$(find sharework_cembre_skills)/config/job_state_machines/pick_A1653.yaml"/>
    <rosparam command="load" ns="mount_A1653_STAFFA"         file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1653_STAFFA.yaml"/>
    <rosparam command="load" ns="unmount_A1653_STAFFA"         file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1653_STAFFA.yaml"/>

    <rosparam command="load" ns="pick_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/pick_A1610.yaml"/>
    <rosparam command="load" ns="mount_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1610.yaml"/>
    <rosparam command="load" ns="open_ganascia_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/open_ganascia_A1610.yaml"/>
    <rosparam command="load" ns="close_ganascia_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/close_ganascia_A1610.yaml"/>
    <rosparam command="load" ns="unmount_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1610.yaml"/>

    <rosparam command="load" ns="screw_P1_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/screw_P1_A1610.yaml"/>
    <rosparam command="load" ns="screw_P1_A1653" file="$(find sharework_cembre_skills)/config/job_state_machines/screw_P1_A1653.yaml"/>
    <rosparam command="load" ns="screw_P1_A1652" file="$(find sharework_cembre_skills)/config/job_state_machines/screw_P1_A1652.yaml"/>
    <rosparam command="load" ns="screw_P2_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/screw_P2_A1610.yaml"/>
    <rosparam command="load" ns="screw_P2_A1653" file="$(find sharework_cembre_skills)/config/job_state_machines/screw_P2_A1653.yaml"/>

    <rosparam command="load" ns="unscrew_P1_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/unscrew_P1_A1610.yaml"/>
    <rosparam command="load" ns="unscrew_P1_A1653" file="$(find sharework_cembre_skills)/config/job_state_machines/unscrew_P1_A1653.yaml"/>
    <rosparam command="load" ns="unscrew_P1_A1652" file="$(find sharework_cembre_skills)/config/job_state_machines/unscrew_P1_A1652.yaml"/>
    <rosparam command="load" ns="unscrew_P2_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/unscrew_P2_A1610.yaml"/>
    <rosparam command="load" ns="unscrew_P2_A1653" file="$(find sharework_cembre_skills)/config/job_state_machines/unscrew_P2_A1653.yaml"/>

    <rosparam command="load" ns="pick_screwdriver" file="$(find sharework_cembre_skills)/config/job_state_machines/pick_screwdriver.yaml"/>

    <rosparam command="load" ns="up_down" file="$(find sharework_cembre_skills)/config/job_state_machines/up_down.yaml"/>

    <rosparam command="load" ns="release"          file="$(find sharework_cembre_skills)/config/job_state_machines/release.yaml"/>

    <rosparam command="load" ns="open_gripper" file="$(find sharework_cembre_skills)/config/job_state_machines/open_gripper.yaml"/>
    <rosparam command="load" ns="close_gripper" file="$(find sharework_cembre_skills)/config/job_state_machines/close_gripper.yaml"/>
    <rosparam command="load" ns="pick_staffa" file="$(find sharework_cembre_skills)/config/job_state_machines/pick_staffa.yaml"/>

    <rosparam command="load" ns="release_staffa" file="$(find sharework_cembre_skills)/config/job_state_machines/release_staffa.yaml"/>


  </node>

</launch>
