<?xml version="1.0"?>
<launch>

  <node pkg="manipulation_job_base" name="ssm_job" type="ssm_job_exec.py" output="screen">
    <rosparam command="load" ns="mount_A1652_sx"         file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1652_sx.yaml"/>
    <rosparam command="load" ns="mount_A1652_dx"         file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1652_dx.yaml"/>
    <rosparam command="load" ns="unmount_A1652_sx"         file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1652_sx.yaml"/>
    <rosparam command="load" ns="unmount_A1652_dx"         file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1652_dx.yaml"/>
    <rosparam command="load" ns="pick_A1652"          file="$(find sharework_cembre_skills)/config/job_state_machines/pick_A1652.yaml"/>

    <rosparam command="load" ns="mount_A1653" file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1653.yaml"/>
    <rosparam command="load" ns="unmount_A1653" file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1653.yaml"/>
    <rosparam command="load" ns="pick_A1653"          file="$(find sharework_cembre_skills)/config/job_state_machines/pick_A1653.yaml"/>
    <rosparam command="load" ns="mount_A1653_STAFFA"         file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1653_STAFFA.yaml"/>
    <rosparam command="load" ns="unmount_A1653_STAFFA"         file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1653_STAFFA.yaml"/>

    <rosparam command="load" ns="pick_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/pick_A1610.yaml"/>
    <rosparam command="load" ns="mount_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/mount_A1610.yaml"/>
    <rosparam command="load" ns="open_ganascia_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/open_ganascia_A1610.yaml"/>
    <rosparam command="load" ns="close_ganascia_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/close_ganascia_A1610.yaml"/>
    <rosparam command="load" ns="unmount_A1610" file="$(find sharework_cembre_skills)/config/job_state_machines/unmount_A1610.yaml"/>




    <rosparam command="load" ns="release"          file="$(find sharework_cembre_skills)/config/job_state_machines/release.yaml"/>
  </node>

</launch>
